/* SINGLE PORTFOLIO PAGE */

.portfolio
{
	background-color: var(--primary);
}

.single-portfolio .menu-wrapper
{
	display: none !important;
}

.single-portfolio article
{
	padding-top: 230px;
}

.single-portfolio article .entry-content
{
	background-color: #fff;
	padding-bottom: 50px;
	font-size: 18px;
	line-height: 30px;
}

.single-portfolio .x-close
{
	top: -60px;
	right: -60px;
	background-color: var(--secondary);
	line-height: 0;
	font-size: 0;
	width: 60px;
	height: 60px;
	transition: .4s linear;

}

.single-portfolio .x-close img
{
	width: 30px;
	height: 30px;
	padding-top: 15px;
	padding-left: 15px;
}

.single-portfolio .x-close:hover
{
	background-color: var(--primary);
}

.single-portfolio .entry-content .one
{
	padding-left: 100px;
	padding-right: 100px;
}

.single-portfolio .entry-content .one_half
{
	width: 435px;
	padding-left: 100px;
}

.single-portfolio .entry-content .one_half.last
{
	padding-left: 0;
	padding-right: 100px;
}

.single-portfolio .entry-content h1
{
	padding: 0;
	font-size: 20px;
	line-height: 30px;
}

.portfolio-cta {
	padding: 2%;
	text-align: center;
	font-size: 20px;
	font-weight: 200;
}


.portfolio-cta-link {
	color: white;
}

.portfolio-cta-link:hover {
	color: var(--secondary);
}


/* END SINGLE PORTFOLIO */


/* RESPONSIVE PART */

@media screen and (max-width: 1270px) {

	.content-1170
	{
		width: 960px;
	}

	.single-portfolio .entry-content .one
	{
		padding-left: 5%;
		padding-right: 5%;
	}

	.single-portfolio .entry-content .one_half
	{
		width: 40%;
		padding-left: 5%;
		margin-right: 10%;
	}

	.single-portfolio .entry-content .one_half.last
	{
		padding-left: 0;
		padding-right: 5%;
	}

}

@media screen and (max-width: 1100px) {

	.single-portfolio .x-close
	{
		right: 50%;
		right: calc(50% - 30px);
	}

}

@media screen and (max-width: 1020px) {

	.content-1170 {
		width: 100%;
	}

	.extra-content-left, .extra-content-right {
		width: 100%;
		margin-left: 0;
	}

	.single-portfolio article {
		padding-top: 140px;
	}

	.one_half {
		width: 100%;
		float: none;
		margin-right: 0;
		margin-left: 0;
	}

	.single-portfolio .entry-content .one_half {
		width: 90%;
		padding-left: 5%;
		padding-right: 5%;
		margin-right: 0;
	}

	.single-portfolio .entry-content .one_half.last {
		padding-left: 5%;
		padding-right: 5%;
	}

	.site-content .one_half, .single-portfolio .entry-content div {
		text-align: left;
	}

}

