:root {

    /* --primary: #FFC823;
    --secondary: #DC3C92;
    --accent-primary: #a98517;
    --accent-secondary: #85255f;
    --copy: #333;

    --primary: #00b287;
    --secondary: #fbc823;
    --accent-primary: #017257;
    --accent-secondary: #f48f17;
    --copy: #333; */

    --primary: #039874;;
    --secondary: #ff7a00;
    --accent-primary: #02553d;
    --accent-secondary: #d1401c;
    --bg:#1f404c;
    --copy: #333;
}

body
{
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: var(--copy);
    background: var(--bg);
}

body a
{
    text-decoration: none;
    color: var(--copy);
    transition: color .2s linear;
}

body a:hover
{
    color: var(--accent-primary);
}


.doc-loader 
{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;	
    background-color: #fff;
}

.doc-loader td 
{       
    text-align: center;
    vertical-align: middle;
}

.doc-loader img
{
    width: 90px;
    height: 90px;        
}

.content-1170
{
    width: 1170px;    
}

.content-1170 img
{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.full-width
{
    line-height: 0;
}

.secondary-text
{
    color: var(--secondary);
}

.accent-primary-text {
    color: var(--accent-primary);
}

.primary-text {
    color: var(--primary);
}

.strong
{
    font-weight: bold;
}

.em
{
    font-style: italic;
}


/* TOP MENU */

#undefined-sticky-wrapper {
	height: 56px !important;
}

.menu-wrapper
{    
    transition: background-color .2s linear;
    z-index: 99 !important;
    background-color: var(--secondary);
    width: 100% !important;
    top: 0;
    position: fixed;
    /* box-shadow: 0 -2px 16px -3px #444; */
}

#header-main-menu
{    
    margin: 0 auto;
    text-align: center;
}

.main-menu.sm-clean
{
    background-color: transparent;    
}

.main-menu.sm-clean a
{    
    font-size: 20px;
    font-weight: 300;
    line-height: 40px;
    color: #fff;
    transition: color .2s linear;
    letter-spacing: 1px;
}

.main-menu.sm-clean .sub-menu a 
{
    font-size: 11px;
    line-height: 20px;
}

.sm-clean .current_page_item a 
{
    color: #fff !important;
}

.main-menu.sm-clean a:hover 
{
    color: var(--copy);

}

.sm-clean li.active a
{
    color: var(--copy);
}

.sm-clean li.active a#homeMenu
{
    color: #fff;
}

/* .sm-clean li.active.activeBlack a
{
    color: var(--copy) !important;
} */

.mob-menu {
	display: none;
	font-weight: 300;
	font-size: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	transition: color .2s linear;
	color: #fff;
    letter-spacing: 3px;
    box-shadow:  0 -2px 16px -3px #444;
}

/* END TOP MENU */


/* FLIP LOGO*/

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 100%;
    height: 350px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}

/*END FLIP LOGO*/




/* GENERAL SECTION */

.section
{    
    position: relative;
    z-index: 1;
}

.section-title-holder
{
    background-color: var(--primary);
    width: 300px;
    height: 300px;
    z-index: 2;
    border-radius: 50%;
}

.section-title-holder h2
{
    font-weight: 900;
    font-size: 44px;
    margin-left: 100px;
    width: 240px;
    word-break: break-word;
    line-height: 60px;
    margin-top: 65px;
    color: white;
    padding: 0;
}

#cv .section-title-holder h2
{
    width: 275px;
}

.section-content-holder {
	background: #fff;
	width: 800px;
	padding: 60px 0;
	box-shadow: 0 -2px 15px -1px #111;
    border-radius: 1em;
}

.section-content-holder .content-wrapper
{
    padding: 0 60px;
}

.section-content-holder.right
{
    margin-left: 370px;
}

.section-content-holder.left
{
    margin-top: 300px;
}

.section-content-holder .content-title-holder
{
    overflow: hidden;
    height: 100px;
    margin-top: -60px;
    padding-bottom: 50px;
}

.section-content-holder .content-title {
	font-weight: 900;
	text-align: right;
	font-size: 160px;
	line-height: 100%;
	text-transform: uppercase;
	margin-top: -30px;
	color: var(--primary);
}

.extra-content-left
{
    width: 800px;
    color: #fff;    
    padding: 100px 0;
}

.extra-content-right
{
    width: 800px;   
    margin-left: 370px;
    color: #fff;
    padding: 100px 0;
}

.extra-content-full-width
{
    padding: 100px 0;
}

.section:last-of-type .extra-content-left, .section:last-of-type .extra-content-right, .section:last-of-type .extra-content-full-width
{
    padding-bottom: 0;
}

input[type='checkbox'] {
    display: none;
}

.lbl-toggle
{
    display: none;
}


/* END GENERAL SECTION */



/* HOME SECTION */

.full-height-center
{
    height: 100%;
}

.intro-page 
{
    height: 95vh;
    background-color: var(--primary);
    background-image:url(../images/hero_img.jpg);
    background-position: top center;
    background-size: cover;
    z-index: 10;
}

.top-logo {
    width: 180px;
    margin-top: 85px;
	border-radius: 50%;
	box-shadow: 0 2px 14px 0px #444;
}

h1.big-title
{
    font-size: 56px;
    font-weight: 900;
}

h1.big-title,
h2.big-title
{
    line-height: 100%;
    padding-bottom: 30px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}

h2.big-title
{
    padding-top: 0px;
    font-weight: 300;
    font-size: 28px;
}

h2.big-title.uppercase {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.title-desc
{
    font-size: 20px;
    line-height: 30px;
    max-width: 425px;
    margin: 0 auto;
    color: #fff;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 300;
}


.page-template-page-home .intro-page footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* END HOME SECTION */



/* SERVICE SECTION */

#services
{
    background-color: var(--primary);
    z-index: 9;
}

#services .section-title-holder
{
    background-color: var(--primary)
}

#services .section-title-holder span
{
    color: var(--secondary);
}

.service-holder 
{
    display: inline-block;
    width: 335px;
}

.service-holder img 
{
    display: inline-block;
    width: 50px !important;
    vertical-align: top;
}

.service-content-holder 
{
    display: inline-block;
    width: 240px;
    margin-top: 55px;
    margin-left: 5px;
}

.service-title 
{
    font-size: 24px;
    padding-bottom: 10px;
}

/* END SERVICE SECTION */



/* PORTFOLIO SECTION */

#portfolio
{
    background-color: var(--bg);
    padding-top: 150px;
}

#portfolio .section-title-holder
{
    background-color: var(--secondary);
}

#portfolio .section-title-holder span
{
    color: var(--primary);
}

.page-template-page-portfolio .section
{
    padding-top: 100px;
}

.section-content-holder.portfolio-holder
{
    background-color: transparent;
    width: 800px;
    padding: 0;
}

.portfolio-holder .portfolio-load-more-holder
{
    font-weight: 700;
    font-size: 20px;
    width: 430px;
    background-color: var(--copy);
    text-align: center;
}

.portfolio-holder .portfolio-load-more-holder img 
{
    padding-bottom: 15px;
}

.portfolio-holder .portfolio-load-more-holder a
{
    color: #fff;
    padding-top: 30px;
    padding-bottom: 15px;
}

.portfolio-holder .portfolio-load-more-holder
{    
    margin-right: 0;
    margin-left: auto;
}

.more-posts
{ 
    display: block;
}

.more-posts:hover
{
    cursor: pointer;
}

.grid 
{
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: block;
}

.grid-item 
{
    float: left;
    font-size: 0;
    line-height: 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box; 
}

.grid-item img {
	display: block;
	width: 100%;
	height: auto;
	max-height: none;
	max-width: none;
	opacity: 0.9;
}

.grid-item img:hover {
	opacity: 1;
}

.grid-sizer, .grid-item 
{
    width: 400px;
}

.grid-item.p_one_half
{
    width: 400px;
}

.grid-item.p_one
{
    width: 800px;
}

.portfolio-text-holder {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
	font-size: 20px;
	background-color: rgba(51,51,51,0.9);
	text-align: left;
	display: none;
	max-width: 220px;
}

.portfolio-text-wrapper {
	padding: 30px 15px 0 30px;
}

.portfolio-type {
	font-size: 35px;
	color: var(--primary);
	padding: 30px 0 20px 3px;
}

.portfolio-type span
{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-text
{
    font-weight: 500;
    font-size: 25px;
    line-height: 27px;
    margin-bottom: 20px;
	color: var(--primary);
}

.portfolio-sec-text
{
    font-weight: 200;
    font-size: 16px;
    line-height: 130%;
	color: #fff;
}

.portfolio-link-text {
    padding-top: 20px;
	font-weight: 400;
	font-size: 16px;
	color: var(--primary);
}

.grid-item a:hover
{
    color: #191919;
}

.more-posts-portfolio img
{
    transition: all .2s linear;
    width: 100px;
    height: 100px;
}

.more-posts-portfolio img:hover
{
    cursor: pointer;  
    transform: scale(0.9);
}

div.pp_default .pp_loaderIcon
{
    display: none !important;
}

/* END PORTFOLIO SECTION*/


/* CV SECTION*/


#cv {
	background-color: var(--bg);
	padding-top: 100px;
}

#cv .section-title-holder
{
    background-color: var(--secondary);
}

#cv .section-title-holder span
{
    color: var(--copy);
}

#cv .content-title
{
    font-size: 100px;
    margin-top: -20px;
}

#cv .section-content-holder
{
    padding-bottom: 0;
}


#cv .section-content-holder .content-title-holder {
	padding-bottom: 30px;
}

.cv-date {
    font-weight: 300;
    color: #4d4d4d;
}

/* END CV SECTION */



/* ABOUT SECTION */

.list li {
    padding: 4px 0 4px 1px;
}

.separate
{
    border-top: 1px dashed var(--secondary);
    padding-top: 7px;
    margin-top: 6px;
}


#about {
	background-color: var(--bg);
    padding: 150px 0;
}

#about .section-title-holder
{
    background-color: var(--secondary);
}

#about .section-title-holder span
{
    color: var(--copy);
}

#about .content-title
{
    color: var(--secondary);
}

#about .section-content-holder
{
    padding: 0;
}

.member-content-holder 
{
    width: 330px;
    padding: 80px 50px 50px 50px;
    float: left;
}

.member-image-holder 
{
    width: 370px;
    float: right;
}

.member-image-holder img
{
    width: 100% !important;
}

.member-name
{
    line-height: 40px;
    font-size: 30px;
    font-weight: 700;
    padding: 0;
    color: var(--primary);
}

.member-position
{
    line-height: 16px;
    font-size: 14px;
    padding-bottom: 40px;
    color: var(--primary);
    letter-spacing: 4px;
    text-transform: uppercase;
}

.member-content
{
    line-height: 26px;    
}

.image-slider-wrapper.img .image-slider li img
{
    width: 100%;
}

/* END ABOUT SECTION */



/* SKILLS SECTION */


#skills
{
    background-color:  var(--bg);
    padding-top: 200px;
}

#skills .section-title-holder
{
    background-color: var(--secondary);
}

#skills .section-title-holder span
{
    color: var(--primary);
}

#skills div.wrap-collabsible
{
    margin-left: 10px;
}

.progress_bar 
{
    margin-bottom: 10px;
    color: #fff;
}

.progress_bar_field_holder 
{
    height: 40px;
    position: relative;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
}

.progress_bar_field_holder:hover .progress_bar_title
{
    left: 2px;
}

.progress_bar_field_holder:hover .progress_bar_percent_text
{
    right: 5%;
}

.progress_bar_title
{
    position: absolute;
    top: 12px;
    z-index: 2;
    left: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    transition: color .2s linear, left .2s linear;
}

.progress_bar_percent_text
{
    position: absolute;
    right: 2px;
    top: 8px;
    z-index: 2;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    transition: color .2s linear, right .2s linear;
}

.progress_bar_field_percent 
{
    height: 59px;    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg);
}

/* END SKILLS SECTION */



/* CONTACT SECTION */

#contact {
	background-color: var(--primary);
	background-image: url("../images/hero_img.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	z-index: 3;
    padding-top: 100px;
    padding-bottom: 200px;
}

#contact .section-title-holder
{
    background-color: var(--secondary);
    color: var(--secondary);
}

#contact .section-title-holder span
{
    color: var(--copy);
}

#contact .section-content-holder {
	padding-bottom: 0;
	margin-bottom: 50px;
}

.map 
{
    height: 400px;
}

.map img
{
    max-width: none;
    max-height: none;
}

.contact-form
{
    max-width: 100%;
    width: 770px;
    margin: 0 auto;
    font-size: 22px;
    color: #9a9a9a;
}

/* END CONTACT SECTION */


/* FOOTER */

footer {
	background-color: var(--copy);
	box-shadow: 0 -2px 15px -1px #111;
}

.footer {
	font-size: 16px;
	line-height: 36px;
	clear: both;
	color: var(--copy);
	text-align: center;
	padding: 50px 0;
}

.footer a:hover
{
    color: white;
}

copyright-footer
{
    color: white;
    font-size: 6px;
}

.footer-left, .footer-right
{
    width: 810px;
}

.footer-right
{
    margin-left: 370px;
}

.social-footer {
	margin: 20px 0 60px;
}

.social-footer a {
	margin: 0 15px;
	font-size: 35px;
	color: var(--primary);
}

.copyright-footer {
	font-weight: 300;
	font-size: 14px;
	color: #555;
}

.copyright-footer a {
	color: #555;
}

footer .personal-footer {
	color: #fff;
	font-weight: 300;
}

#footer-logo {
	height: 80px;
	margin: 15px;
}

/* END FOOTER */

/* RESPONSIVE PART */
@media screen and (min-width: 1440px) {   
    h1.big-title {
        font-size: 70px;
        font-weight: 500;
        margin-top: 5vw;
    }
    h2.big-title {
        padding-top: 20px;
        font-weight: 100;
        font-size: 34px;
    }
    .title-desc {
        font-size: 24px;
    }
    .top-logo
    {
        margin-top: 115px;
        width: 220px;
    }
    .flip-container, .front, .back {
        height: 400px;
    }
}

@media screen and (max-width: 1270px) {   

    .content-1170 
    {
        width: 960px;
    }

    .one_half
    {
        margin-right: 8%;
        float: left;
        position: relative;
        margin-bottom: 60px;
    }

    .one_half
    {
        width: 46%;
    }      

    .section-title-holder 
    {    
        width: 220px;
        height: 220px;
    }

    .section-title-holder h2
    {
        font-size: 30px;
        width: 180px;        
        line-height: 45px;
        margin-top: 55px;        
        margin-left: 75px; 
    }

    #cv .section-title-holder h2
    {
        width: 225px;        
    }

    #cv .content-title {
        font-size: 88px;
    }


    .section-content-holder.right 
    {
        margin-left: 250px;
    }

    .section-content-holder.left 
    {
        margin-top: 220px;
    }

    .section-content-holder 
    {
        width: 710px;
    }

    .extra-content-left, .extra-content-right
    {
        width: 710px;
    }

    .extra-content-right
    {
        margin-left: 250px;
    }

    .service-holder 
    {    
        width: 290px;
    }

    .section-content-holder.portfolio-holder 
    {    
        width: 710px;
    }

    .grid-item.p_one, .grid
    {
        width: 710px;       
    }    

    .grid-sizer, .grid-item, .grid-item.p_one_half
    {
        width: 355px;
    }  

    .portfolio-holder .portfolio-load-more-holder 
    {
        width: 460px;
    }

    .section-content-holder .content-title 
    {    
        font-size: 130px;    
        margin-top: -25px;
    }

    .member-content-holder 
    {
        width: 275px;
        padding: 50px 40px 30px 50px;
    }

    .member-image-holder 
    {
        width: 335px;
    }

    .image-slider-wrapper.team .image_slider_next
    {
        right: 260px;
    }

    .blog-item-holder .entry-title 
    {   
        width: 240px;
    }

}


@media screen and (max-width: 1020px) {    

    #contact {
        padding-top: 0;
    }

    .content-1170 
    {
        width: 100%;
    }    

    .extra-content-left, .extra-content-right
    {
        width: 100%;
        margin-left: 0;
    }    

    .one_half
    {
        width: 100%;
        float: none;
        margin-right: 0;
        margin-left: 0;
    }

    #cv .section {
        padding-top: 0px !important;
    }

    .image-slider-wrapper.service a.image_slider_next 
    {
        top: -89px;
        right: 0;
    }

    .section-content-holder.right 
    {
        margin-left: 0;
    }

    .section-content-holder.left 
    {
        margin-top: 0;
    }

    .section-num
    {
        display: inline-block;
        margin-top: 10px;
    }    

    .section-num span
    {
        font-size: 50px;
        margin-left: -15px;
    }          

    .section-title-holder
    {
        width: 100%;
        height: auto;
        position: relative !important;
        top: 0 !important;
        border-radius: 0%;
    }

    .section-title-holder h2
    {
        display: inline-block;
        width: auto;
        margin: 0;
        vertical-align: top;
        margin-top: 15px;
        margin-bottom: 20px;
        font-size: 35px;
        line-height: 130%;
        margin-left: 30px;
    }

    .section-content-holder 
    {
        width: 100%;
        padding: 30px 0;    
        border-radius: 0;
    }

    .section-content-holder .content-wrapper
    {
        padding: 0 5%;
    }       

    .service-holder 
    {    
        width: 100%;
        display: block;
    }

    .service-content-holder 
    {
        width: 100%;
        width: calc(100% - 75px);
        margin-bottom: 30px;
    }    

    .section-content-holder.portfolio-holder 
    {    
        width: 100%;
    }

    .grid-item.p_one, .grid
    {
        width: 100%;       
    }    

    .grid-sizer, .grid-item, .grid-item.p_one_half
    {
        width: 50%;
    }  

    .portfolio-holder .portfolio-load-more-holder 
    {
        width: 100%;
    }  

    .member-content-holder 
    {
        width: 40%;
        padding: 10% 5% 0% 2%;
    }

    .member-image-holder 
    {
        width: 50%;
    }

    .image-slider-wrapper.team .image_slider_next
    {
        right: 40%;
    }

    .blog-item-holder .entry-title 
    {
        width: 100%;
        display: block;
        padding-top: 20px;
    }

    .blog-item-holder .info
    {
        width: auto;
    }

    .section-content-holder .content-title-holder 
    {
        overflow: visible;
        height: auto;
        margin: 0;
        padding: 0;
        font-size: 50px;
    }

    .section-content-holder .content-title 
    {
        font-size: 19vw;
        margin-top: -40px;
    }

    .testimonial-slider-holder 
    {
        width: 90%;
        padding-left: 5%;
    }    
    
}

@media screen and (min-width: 925px) {
    .main-menu
    {
        display: block !important;
    }
}

@media screen and (max-width: 925px) {

    .flip-container, .front, .back {
        height: 300px;
    }

    .lbl-toggle {
        display: inline-block;
        color: var(--secondary);
        text-align: center;
        padding-left: 1px;
        padding-right: 25px;
        cursor: pointer;
        vertical-align: middle;
        text-decoration: none;
        font-size: 16px;
        transition:  .4s linear;
    }

    .lbl-toggle:hover {
        color: #4d4d4d;
    }

    .lbl-toggle::after {
        content: ' ';
        display: inline-block;

        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 8px solid currentColor;

        vertical-align: middle;
        margin-left: .65rem;

        transform: rotate(90deg)  translateX(-1px);

        transition: transform .2s ease-out;
    }

    .collapsible-content {
        padding-top: 10px;
        max-height: 0px;
        overflow: hidden;
        transition: max-height .7s ease-in-out;
    }

    .toggle:checked + .lbl-toggle + .collapsible-content {
        max-height: 1100px;
    }

    .toggle:checked + .lbl-toggle::after {
        transform: rotate(-90deg) translateX(2px);
    }

    .toggle:checked + .lbl-toggle {
        color: #4d4d4d;
        cursor: default;
        padding-bottom: 10px;
    }


    .intro-page
    {
        height: 88vh;
    }

    .section
    {
        position: static !important;
        z-index: 0 !important;
    }

    h1.big-title,
    h2.big-title
    {
        font-size: 40px;
        max-width: 500px;
        padding-top: 0;
    }

    h2.big-title
    {
        font-size: 24px;
        padding-top: 10px;
    }

    h1.big-title
    {
        padding-bottom: 0;
        display: inline;
    }

    h1.big-title span 
    {
        display: inline;
    }

    .title-desc 
    {    
        font-size: 19px;
        line-height: 23px;
    }

    .mob-menu
    {
        display: block;
    }

    .mob-menu:hover
    {
        cursor: pointer;
    }

    .portfolio-text-holder 
    {
        display: none !important;
        opacity: 0 !important;
    }   

    .main-menu
    {
        float: none;
        margin: 0 auto;
        text-align: center;
        max-width: 300px;
        width: 100%;
        position: relative;
        z-index: 9999;
        display: none;
    }

    .main-menu ul 
    {
        width: 12em; /* fixed width only please - you can use the "subMenusMinWidth"/"subMenusMaxWidth" script options to override this if you like */
    }

    .sm-clean a, .sm-clean a:hover, .sm-clean a:focus, .sm-clean a:active
    {
        padding-right: 0;
        padding-left: 0;
    }

    .main-menu.sm-clean a 
    {
        line-height: 24px;
    }

    .main-menu.sm-clean .sub-menu a 
    {
        font-size: 16px;
        line-height: 25px;    
        text-align: center;
    }    

    .carousel_fw_next
    {
        display: block !important;
    }

    .fw_carousel_pagination
    {
        display: none !important;
    }

	.section-title-holder
	{
		padding-top: 75px;
    }
    
    .section {
        padding-top: 0px !important;
    }

    #about {
        padding-bottom: 0px;
    }


}

@media screen and (max-width: 805px) {       

    .contact-form input[type=text], .contact-form input[type=email], .contact-form textarea, p.custom-field-class, #commentform #email, #commentform #author, #commentform #comment
    {
        width: 100% !important;
    }

    .member-content-holder
    {
        padding: 5% 2% 2% 2%;
    }

}


@media screen and (max-width: 650px) {

    .social-footer a {
        margin: 0 12px;
        font-size: 28px;
    }

    .social-footer {
        margin-top: 0;
    }

    #cv .content-title {
        font-size: 60px;
    }

    h1.big-title
    {
		font-size: 34px;
    }

	.title-desc
	{
		padding-top: 20px;
	}


    .member-content-holder
    {
        width: 86%;
        padding: 7% 7% 7% 7%;
        float: none;
    }

    .member-image-holder
    {
        width: 100%;
        float: none;
    }

    .image-slider-wrapper.team .image_slider_next
    {
        right: auto;
        left: 30px;
    }
}


@media screen and (max-width: 450px) {

    .social-footer a {
        margin: 0 6px;
        font-size: 30px;
    }

    #cv .content-title {
        font-size: 50px;
    }

	h1.big-title,
    h2.big-title
	{
        font-size: 25px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    h2.big-title {
        font-size: 18px;
        padding-top: 8px;
    }

	.title-desc
	{
		font-size: 16px;
	}

	.top-logo
	{
		height: 140px;
		width: 140px;
	}

    .section-num 
    {
        margin-top: 9px;
    }

    .section-num span 
    {
        font-size: 35px;
        margin-left: -10px;
    }

    .section-title-holder h2
    {
        margin-top: 9px;
        font-size: 35px;
    }

    .image-slider-wrapper.service a.image_slider_next 
    {
        top: -84px;
    }

    div#skills div.section-content-holder div.content-wrapper {
        padding: 2% 2% 15% 2%;
    }
}